@page "/2048"
@using Blazor2048
@using Microsoft.AspNetCore.Components.Web
@inject StateContainer state; 


<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Let's Play 2048!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @*the board*@
            <table class="gametable">
                @for (int row = 0; row < 4; ++row)
                {
                    <tr>
                        @for (int col = 0; col < 4; ++col)
                        {
                            <td class="gamecell"
                                data-value="@(game[row,col])" data-added="@((game.Size*row+col)==game.LastAddedCellIndex ? "true" : "false")">
                                @*data-value will be referenced by css for styling*@
                                @CellText(row, col)
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
        @*the buttons to control the game with the mouse / touch*@
        <div class="col">
            <table style="width:400px; border:solid">
                <tr>
                    <td colspan="3">
                        <button class="btn btn-default btn-block" @onclick="NewGame">
                            New Game
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="btn btn-default btn-block" @onclick="Up">Up</button></td>
                    <td></td>
                </tr>
                <tr>
                    <td><button class="btn btn-default btn-block" @onclick="Left">Left</button></td>
                    <td></td>
                    <td><button class="btn btn-default btn-block" @onclick="Right">Right</button></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="btn btn-default btn-block" @onclick="Down">Down</button></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-offset-2 col-8">
            <table>
                <thead>
                    <tr>
                        <th class="scoreth">Move</th>
                        <th class="scoreth">Status</th>
                        <th class="scoreth">Max Value</th>
                        <th class="scoreth">Total Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="scordtd">@game.MovesCounter</td>
                        <td class="scordtd">
                            @(game.Max>=2048 ? "Your are a Winner!!" : "Keep playing...")
                        </td>
                        <td class="scordtd">@game.Max</td>
                        <td class="scordtd">@game.Total</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {

    Game2048 game = new Game2048();
    string CellText(int row, int col)
    {
        var val = game[row, col];
        return val == 0 ? string.Empty : val.ToString();
    }

    public void NewGame()
    {
        this.game = new Game2048();
        state.Game = game;
    }

    private void PerformMove(Action a)
    {
        a();
        state.Game = game;
    }

    private void Up(MouseEventArgs e) => PerformMove(() => game.Up());
    private void Down(MouseEventArgs e) => PerformMove(() => game.Down());
    private void Left(MouseEventArgs e) => PerformMove(() => game.Left());
    private void Right(MouseEventArgs e) => PerformMove(() => game.Right());

    protected override void OnInitialized()
    {
        try
        {
            game = state.Game;
        }
        catch (Exception )
        {
            // play a new game
        }
        this.StateHasChanged();
    }

}
